body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #ffeede, #c77244);
  text-align: center;
  font-weight: bold;
  color: #291200;
}


ul {
  list-style: none;
  font-size: 1.2em;
  padding-right: 1.7em;
}


li {
  padding: 0.1em;
}


table {
  margin: auto;
}


td {
  width: 5em;
  height: 5em;
  border: 3px double #e7c3b0;
  background-image: linear-gradient(45deg, #291200, #8d4000);
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: all .2s ease-in;
}


td:active {
  cursor: pointer;
  border-radius: 2em;
  border-color: #006fd4;
}


#gameIsFinished {
  text-align: center;
  font-size: 1.6em;
  padding: 2em;
}


#resetGame {
  display: inline-block;
  margin-top: 1.3em;
  font-size: 1.4em;
  color: #a1e4ee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.fa {
  display: none;
  margin-top: 18px;
  font-size: 2.8em;
  color: #fdcd9c;
}


.fa-star {
  display: inline-block;
  margin-top: 7px;
  font-size: 2em;
  color: #fdcd9c;
}


.center {
  position: fixed;
  background-image: linear-gradient(45deg, #006fd4, #003e6d);
  border-radius: 4em;
}


.cardIsOpen {
  display: inline-block;
}


.match {
  display: block;
  color: #08f0b0;
}


.wrongMatch {
  color: #d70d2f;
}


.tableBlocked {
  pointer-events: none;
}


.hidden {
  display: none;
}


#copyrights {
  font-size: small;
  padding: 1.2em;
}
