body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image: linear-gradient(to right, #ffeede, #c77244);
  text-align: center;
  font-weight: bold;
}


ul {
  list-style: none;
  font-size: 1.5em;
}


table {
  margin: auto;
  padding-left: 40px;
}


td {
  width: 7em;
  height: 7em;
  border: 3px double #e7c3b0;
  background-image: linear-gradient(45deg, #291200, #8d4000);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}


td:hover {
  cursor: pointer;
  border-radius: 2em;
  border-color: #006fd4;
}


#gameIsFinished {
  text-align: center;
  font-size: 2em;
  padding: 2em;
}


#resetGame {
  display: inline-block;
  margin-top: 1em;
  font-size: 2em;
  color: #a1e4ee;
}


.fa {
  display: inline-block;
  margin-top: 30px;
  font-size: 3em;
  color: #fdcd9c;
}


.fa-star {
  display: inline-block;
  margin-top: 7px;
  font-size: 2em;
  color: #fdcd9c;
}


.center {
  position: fixed;
  background-image: linear-gradient(45deg, #006fd4, #003e6d);
  border-radius: 20em;
}


.cardIsOpen {
  display: inline-block;
}


.match {
  display: block;
  color: #08f0b0;
}


.wrongMatch {
  color: #d70d2f;
}


.tableBlocked {
  pointer-events: none;
}


.hidden {
  display: none;
}
