body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


table {
  margin-right: 20%;
  margin-left: 20%;
}


.cell {
  text-align: center;
  width: 7em;
  height: 7em;
  border: solid 2px black;
}
